/** {
    font-family: 'Poppins', sans-serif;
}*/

/*body {
    display: flex;
    justify-content: center;
    align-items:  center;
    min-height: 100vh;
    flex-direction: column;
    background: #ffffff;
}*/


/*与inputbox有关*/

.form-line{
    border: none;
    background-image: linear-gradient(#000000,#000000),linear-gradient(#000000,#000000);
    background-size: 0px 10px,100% 0px;
    background-repeat: no-repeat;
    /*background-position: center bottom,center calc(100% - 1px);*/
    background-position: 50% 100%;
    background-color: rgba(0,0,0,0);
    font-size:40px;
    width: 80%;
    top: 50px;
}

input[type="text"]:focus{
    width: 80%;
    background-size: 100% 3px,100% 1px;
    transition: all 0.4s;
    border: none;
    outline: none;
    font-size:40px;
}

input::-moz-input-placeholder {
    position: absolute;
    top: .04rem; 
    /* top: 50% */
    /* transform:translateY(-50%); */
    font: 400 .16rem PingFangSC-Regular, PingFang SC;
    color: #999;
}

/*与button有关*/
span {
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 3s linear infinite;
    background: #ffffff;
    font-size:20px;
}

button {
    border: 2px solid rgb(0,0,0);
    position: relative;
    display: inline-block;
    padding: 12px 36px; 
    margin: 10px 0;
    color: black;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    background-color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    color: white;
    background-color: black;
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: .5;
    }
    20% {
        width: 200px;
        height: 200px;
        opacity: 0.2;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

/*https://jsbin.com/haxeyonuvo/1/edit?html,css,js,output的解决方案*/

/*
* {
  box-sizing: border-box;
}

.btn {
  margin: auto;
  margin-top: 200px;
  width: 100px;
  height: 50px;
  background-color: green;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.btn > p {
  text-align: center;
}

.btn > span {
  position: absolute;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 50%;
  animation: .75s ripple;
}

@keyframes ripple {
  from {
    width: 0px;
    height: 0px;
    opacity: .5;
  }
  to {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}*/
/* 下拉按钮样式 */
.dropbtn {
	object-position: right;
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
    position: relative;
    left: 10px;
    display: inline-block;
}
/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


/* 下拉菜单的链接 */
.dropdown-content a {
    color: #999;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover{
	color: black;
	background-color: #f1f1f1;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 4px solid;
    border-color: white;
}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: inline-block;
    /*border-radius: 20px;*/
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.dropdown:hover .dropbtn {
    color: black;
    background-color: white;
}

p {
    color: darkblue;
    font-size: 150%;
}

